.popup{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #54db63, #00aeef);
    display: none;
    text-align: center;
}
.detail{
    display: flex;
    flex-direction: column;
}
.detail img{
    width: 200px;
    align-self: center;
}
.init{
    display: flex;
    flex-direction: column;
}
button{
    margin-top: 1rem;
    border: none;
    background-color: aliceblue;
    border-radius: 1rem;
    padding: 8px;
    cursor: pointer;
}